body {
    font-family: tt_normsregular !important;
    margin: 0;
    background-color: #FF2422;  
   
}


@media (min-width: 320px) and (max-width: 768px) {
  #main_content{
		background: #FF2422;
  }
}

.red-column{
    background: #FF2422;
	/* height: -webkit-fill-available;
	    height: -moz-available;
	    height: -fill-available; */
  /*   border-right: solid 16px #C30B13 */
}

.pageLoader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loading.gif) 50% 50% no-repeat rgb(249,249,249);
    opacity: .95;
}
.tt_normsbold{
	font-family: 'tt_normsbold';
}
.tt_normslight{
	font-family: 'tt_normslight';
}
.tt_normsmedium{
	font-family: 'tt_normsmedium';
}
.tt_normsregular{
	font-family: 'tt_normsregular';
}
::-moz-selection { 
	background: #FBD840; 
	color: white !important;
}
::selection { 
	background: #FBD840; 
	color: white !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #C30B13;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(195,11,19,.25);
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    
    border: 1px solid #d1d3d1;
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FBD840;
    content: '';
    display: inline-block;
   
    border: 2px solid white;
    }
  .icon-form {
    width: 20px;
}

.invalid{
    background-color: #dc3545!important;
    color: yellow;
    font-family: tt_normslight;
    text-align: left;
    padding: 0 8px;
    border: 0;
    border-radius: .25rem;
    font-size: small;
}
.invalid:before {
    content: "\f071";
    font-family: "Font Awesome 5 Pro";
    padding-right: 3px
}
.state-error {
    background: #ffd6d4;
}
input[type='radio']:disabled:after {
    background: #e9ecef;
    color: #e9ecef;
    border: 1px solid #e9ecef;
}
#exampleInputFile:lang(es)::after {
  content: "Seleccionar archivo...";
}

#exampleInputFile:lang(es)::before {
  content: "Explorar";
}

input[type='radio']:disabled:checked:after {
    background-color: #f5808c !important;
}